// @import "~prismjs/themes/prism-twilight.css"

.theme-container.custom-page-class {

}

#pdf {
  font-size: 24px;
}

.custom-block
  &.right
    color transparentify($textColor, 0.4)
    font-size 0.9rem
    text-align right

.quote
  margin 1rem 0
  padding .1rem 1.5rem
  border-radius 0.4rem
  background-color #f0f4f8
  .title
    font-weight bold

.quote-warn
  margin 1rem 0
  padding .1rem 1.5rem
  border-radius 0.4rem
  background-color rgba(255,229,100,.3)
  .title
    font-weight bold

.player-wrapper
  margin-top: 15px
  align-items: center
  display: flex
  justify-content: center
