// colors
$accentColor = #9E2A2B
$textColor = #2c3e50
$borderColor = #540B0E
$codeBgColor = #335C67
$arrowBgColor = #FFF3B0
$badgeTipColor = #E09F3E
$badgeWarningColor = darken(#E09F3E, 35%)
$badgeErrorColor = #9E2A2B

$social-share-trigger-color ?= $accentColor

$player-bg = white
$player-border-color = darken($player-bg, 12%)
$player-link-color = darken($player-bg, 75%)
$player-progress-color = $player-border-color
$player-seeker-color = $accentColor
$player-text-color = $player-link-color